.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
/CSCI_150_Hardware/Node_Sensor_Drivers/target
/CSCI_150_Web/webserver_sensor/node_modules