# Ignoring package-lock.json files
/server/package-lock.json
/server/package.json

#Ignoring todo list txt file
todo.txt


#ignoring a coule of local js files
fetch.js
/server/temp_files/*

request_class.js
/webserver_sensor/node_modules/*