
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(219, 207, 207);
  overflow-x: hidden;
  padding-top: 60px;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  left: 25px;
}
input[type=radio] {
  bottom: 2px;
}

h2{
  vertical-align: middle;
  position: relative;
  left: 125px;
}

label{
  display: block;
  position: relative;
  left: 25px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* .sidenav {
  right: 255px;
} */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .navbarbody *{
    padding-left:10px
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}